// change links to orange because why not?
a, .btn, .icon {
  color: #ee8800!important
}

// change the tables so they are better for displaying recipes
thead th {
  border-bottom: 1px solid rgba(238,235,238,0.5);
  font-weight: normal;
}

table {
  min-width: auto;
}

.table-wrapper {
  width: max-content;
}

td {
  text-align: center;
}
// make blockquotes more highlighted
blockquote {
  background: #f1f1f4;
  margin: 0;
  padding: 5px;
  padding-left: 50px;
  margin-bottom: 20px;
}
